// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'

.nav > li > .avatar
  padding-top: 4.5px

.navbar
  margin-bottom: 0px

.tab-pane
  min-height: 300px

.nav-tabs > li > a
  font-weight: bold

.tld-name
  text-transform: uppercase

ul.dropdown-menu
  min-width: 175px

.container-fluid
  padding: 0
  height: 100%

.navbar-inner
  border-radius: 0

html, body, #main, .content
  height: 100%
  overflow: hidden

.btn
  border-radius: 2px;
  background-clip: padding-box;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F7F9FC), to(#EBEDF1));
  //background-image: linear-gradient(to bottom, #F7F9FC,#EBEDF1);
  box-shadow: inset 0 1px 0 0 #FFF,0 1px 2px 0 rgba(0, 0, 0, .1);
  color: inset 0 1px 0 0 #FFF 0 1px 2px 0 rgba(0, 0, 0, .1);
  font-family: "Lato",sans-serif;
  border-color: #B4B9C2;
  text-shadow: 0 1px 0 #FFF;
  color: #636C7D;

  i
    margin-right: 2px

.icon-3
  font-size: 2.5em
  margin-left: 3px
  text-shadow: #252525 1px 1px 1px;