@import 'nib'

#main-content
  box-sizing: border-box;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, .15);
  color: 0 0 6px 1px rgba(0, 0, 0, .15);
  position: relative;
  height: 100%;
  overflow: auto;
  margin-left: 0
  padding-top: 15px

  #content
    margin: 0 auto
    width: 95%