@import 'nib'

#sidebar
  height: 100%
  float: left
  width: 50px

  ul li a
    color: #EEE
    text-shadow: 0 1px 0 #000
    border-top: 1px solid #333F3D
    border-bottom: 1px solid #333F3D
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    padding: 10px 0 10px 5px

  ul li.active a
    background: #28312F
    border-top: 1px solid #232B2A
    border-bottom: 1px solid #3E4D4B

  .inner
    background-color: #333F3D
    border-right: 1px solid #444
    position: relative
    overflow-y: auto
    overflow-x: hidden
    min-height: 100%
    // padding-top: 75px
    .nav-list > li
      margin: 2px 0px 2px 0


.nav li a:hover
  border-color: #EEE
  text-decoration: none
  background: #28312F