// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'

#tld-list
  border-left: 1px solid #222
  border-right: 1px solid #DDD
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, .1)
  height: 100%
  box-sizing: border-box
  width: 240px
  float: left
  overflow-y: auto

  input[type='text']
    border-radius: 0
    width: 181px

  .input-prepend .add-on:first-child
    border-radius: 0

  input:focus
    box-shadow: 0 0


  .inner
    position: relative
    overflow-y: auto
    overflow-x: hidden
    min-height: 100%
    background: #FDFDFE

  li.tld
    height: 54px
    padding 10px 20px 0 10px
    border-bottom: 1px solid #EBEFF7
    cursor: pointer
    overflow: hidden
    background: #FDFDFE
    margin-left: 0

  li.tld.selected, li:hover
    -webkit-box-shadow: inset 0 0 6px 1px rgba(0, 0, 0, .06);
    -moz-box-shadow: inset 0 0 6px 1px rgba(0,0,0,.06);
    box-shadow: inset 0 0 6px 1px rgba(0, 0, 0, .06);
    color: inset 0 0 6px 1px rgba(0, 0, 0, .06);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2F2727), to(#1a82f7));
    background-image: -moz-linear-gradient(#F9F1E1,#FBF5EA);
    background-image: -webkit-linear-gradient(#F9F1E1,#FBF5EA);
    background-image: -o-linear-gradient(#F9F1E1,#FBF5EA);
    // background-image: linear-gradient(#F9F1E1,#FBF5EA);
    border-top: 1px solid #EFD9AE;
    border-bottom: 1px solid #F2E1BF;
    margin-top: -1px;
    color: #C18243;
    text-shadow: 0 1px 0 #FDFBF6;

  li.tld
    .name
      font-weight: bold

  ul.tlds
    margin: 1px 0 0 0
    background-color: #FDFDFE

  .input-prepend
    margin: 0