.toolbar
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, .06),inset 0 1px 0 1px #FFF;
    color: 0 1px 6px 1px rgba(0, 0, 0, .06) inset 0 1px 0 1px #FFF;
    box-sizing: border-box;
    width: 100%;
    // padding-right: 380px;
    height: 61px;
    line-height: 61px;
    background: #F2F5FA;
    border-bottom: 1px solid #CFD2D6;
    z-index: 11;
    position: relative

  .toolbar-inner
    width: 95%;
    margin: 0 auto;
