<select>
  <option value="1">EPPCOMNETService</option>
  <option value="2">EPPCOMNETService2</option>
  <option value="3">EPPBEService</option>
  <option value="4">EPPATService</option>
  <option value="5">EPPDoughnutService</option>
</select>
<br>
<div>
  <button id="add" class="aui-button aui-style">Add</button>
  <button id="new" class="aui-button aui-button-link pull-right">Create New</button>
</div>
