<section class="aui-page-panel-content">                
  <h3>Account</h3>
  <table class="aui">
    <tbody>
      <tr>
        <td>Registrar ID</td>
        <td><strong>{{this.s_registrarId}}</strong></td>
      </tr>              
      <tr>
        <td>Name</td>
        <td><strong>{{this.s_name}}</strong></td>
      </tr>
      <tr>
        <td>Provider</td>
        <td><strong>{{this.s_provider}}</strong></td>
      </tr>
      <tr>
        <td>Endpoint</td>
        <td><strong>{{this.s_endpoint}}</strong></td>
      </tr>
      <tr>
        <td>Ascio Whois</td>
        <td><strong>{{this.l_ascioWhois}}</strong></td>
      </tr>
      <tr>
        <td>Is Idn</td>
        <td><strong>{{this.l_isIdn}}</strong></td>
      </tr>
      <tr>
        <td>AuthInfo Format</td>
        <td><strong>{{this.s_authInfoFormat}}</strong></td>
      </tr>
      <tr>
        <td>EPP User</td>
        <td><strong>{{this.s_user}}</strong></td>
      </tr>
      <tr>
        <td>EPP Password</td>
        <td><strong>{{this.s_password}}</strong></td>
      </tr>                            
    </tbody>
  </table>          
</section>