<section class="aui-page-panel-content">
  <table class="aui">
    <tbody>
      <tr>
        <td>NIC Renew Period</td>
        <td><strong>{{this.I_NIC_RENEW_PERIOD}}</strong></td>
      </tr>
      <tr>
        <td>Offset Type FK</td>
        <td><strong>{{this.I_OFFSETTYPE_FK}}</strong></td>
      </tr>
      <tr>
        <td>THRESHOLD</td>
        <td><strong>{{this.I_THRESHOLD}}</strong></td>
      </tr>
      <tr>
        <td>Default Action</td>
        <td><strong>{{this.S_NIC_DEFAULT_ACTION}}</strong></td>
      </tr>
      <tr>
        <td>Renew Threshold</td>
        <td><strong>{{this.i_renew_threshold}}</strong></td>
      </tr>
      <tr>
        <td>Delete Treshold</td>
        <td><strong>{{this.I_DELETE_THRESHOLD}}</strong></td>
      </tr>      
    </tbody>
  </table>
</section>