<section class="aui-page-panel-content">
  <table class="aui">
    <tbody>
      <tr>
        <td>Updated</td>
        <td><strong>{{this.dt_updated}}</strong></td>
      </tr>
      <tr>
        <td>Responsible</td>
        <td><strong>{{this.s_responsible}}</strong></td>
      </tr>
      <tr>
        <td>LocalPresence</td>
        <td><strong>{{this.l_localpresence_offered}}</strong></td>
      </tr>
      <tr>
        <td>Whois</td>
        <td><strong>{{this.s_whois}}</strong></td>
      </tr>
      <tr>
        <td>GROUP_FK</td>
        <td><strong>{{this.I_GROUP_FK}}</strong></td>
      </tr>
      <tr>
        <td>this.PK / REALTLD.FK</td>
        <td><strong>{{this.I_this.PK}}</strong>/<strong>{{this.I_REALTLD.FK}}</strong></td>
      </tr>
    </tbody>
  </table>
</section>  