<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <!--<a class="brand" href="/">BrandName</a> -->
      <ul class="nav pull-right">
        <li>
          <img class="avatar" src="{{ config.GRAVATAR_URL }}{{ user.gravatar_hash }}?s={{ config.GRAVATAR_SIZE }}" alt="{{ user.username }}"/>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            {{ user.username }}
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Settings</a></li>
            <li class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<nav class="aui-navgroup aui-navgroup-horizontal">
  <div class="aui-navgroup-inner">
    <div class="container">
    </div>
  </div><!-- .aui-navgroup-inner -->
</nav>