<div class="toolbar-inner">
  {{#each left}}
    <div class="btn-group">
    <button class="btn {{this.className}}">
      {{#if this.icon}}
        <i class="icon-{{this.icon}}"></i>
      {{/if}}
      {{this.text}}
    </button>
    </div>
  {{/each}}
  {{#each right}}
    <div class="btn-group pull-right">
    <button class="btn {{this.className}}">
      {{#if this.icon}}
        <i class="icon-{{this.icon}}"></i>
      {{/if}}
      {{this.text}}
    </button>
    </div>
  {{/each}}
</div>
