<header class="aui-page-header">
  <div class="aui-page-header-inner">
    <div class="aui-page-header-main">
      <h1>.{{tld.S_TLD}}</h1>
      <h5><a href="{{tld.s_website}}">{{tld.s_nic_name}}</a></h5>
    </div>
    <div class="aui-page-header-actions">
      <div class="aui-buttons">
        <div id="button-set" class="aui-buttons">
          <button class="aui-button aui-button-primary" id="save-btn">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
</header>
<div class="aui-page-panel">
  <div class="aui-page-panel-inner">
    <form class="aui">
      <fieldset>
        <div class="control-group">
          <label>TLD</label>
          <input type="text" value="{{tld.S_TLD}}">
        </div>
        <div class="control-group">
          <label>Delete Treshold</label>
          <input type="text" value="{{tld_renewal.I_DELETE_THRESHOLD}}" data-value="model.tld_renewal.I_DELETE_THRESHOLD">
        </div>
        <div class="control-group">
          <label>NIC RENEWPERIOD</label>
          <input type="text" value="{{tld_renewal.I_NIC_RENEW_PERIOD}}" data-value="model.tld_renewal.I_NIC_RENEW_PERIOD">
        </div>
        <div class="control-group">
          <label>NIC_DEFAULT_ACTION</label>
          <input type="text" data-value="model.tld_renewal.S_NIC_DEFAULT_ACTION" value="{{tld_renewal.S_NIC_DEFAULT_ACTION}}">
        </div>
        <div class="control-group">
          <label>Whois</label>
          <input type="text" data-value="model.tld_setup.S_HOSTNAME" value="{{tld_setup.S_HOSTNAME}}">
        </div>
      </fieldset>
    </form>
  </div>
</div>