<header class="aui-page-header">
  <div class="aui-page-header-inner">
    <div class="aui-page-header-main">
      <h1>.{{tld.tld}}</h1>
      <h5><a href="{{tld.s_website}}">{{tld.s_nic_name}}</a></h5>
    </div>
  </div>
</header>
<div class="aui-page-panel">
  <div class="aui-page-panel-inner">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#tld-setup" data-toggle="tab">Setup</a>
      </li>
      <li>
        <a href="#tld-renewal" data-toggle="tab">Renewal</a>
      </li>
      <li>
        <a href="#tld-provider-link" data-toggle="tab">EPP</a>
      </li>
      <li>
        <a href="#tld-provider-link" data-toggle="tab">Whois</a>
      </li>
      <li>
        <a href="#tld-provider-link" data-toggle="tab">Nic</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tld-setup">
        {{> tld_setup tld}}
      </div>
      <div class="tab-pane" id="tld-renewal">
        {{> tld_renewal tld_renewal}}
      </div>
      <div class="tab-pane" id="tld-provider-link">
        <button class="aui-button pull-right" id="provider-link" data-toggle="popover">
          <i class="icon-plus"></i>
          Provider Link
        </button>
        {{#if provider_link}}
          {{#each provider_link}}
            {{> tld_provider_link}}
          {{/each}}
        {{else}}
          No provider link! <a href="#">Add one!</a>
        {{/if}}
      </div>
    </div>
  </div>
</div>
